﻿@model ShopProject.Data.POCOs.Product

@{
    ViewBag.Title = "AddProduct";
}

<h2>AddProduct</h2>
<link href="~/ShopFrontEnd/css/bootstrap.css" rel="stylesheet" />
<script src="~/ShopFrontEnd/js/jquery-2.1.4.min.js"></script>
<script src="~/ShopFrontEnd/js/bootstrap.js"></script>
<script type="text/javascript">
    $(function () {
        $('#btnCreate').click(function () {

            var name = $('#Name').val();
            var price = $('#Price').val();
            var size = $('#Size').val();
            var categoryID = $('#Category').val();
            var image = ($('#productPhotoArea').attr('src'));
            var lastImage = image.replace(/^data:image\/(png|jpg|jpeg|PNG|JPEG);base64,/, "");

            $.ajax(
                    {
                        method: "POST",
                        url: "../Product/CreateProduct",
                        type: "json",
                        dataType: "application/json; charset=utf-8;",
                        data: { Name: name, Price: price, Size: size, CategoryID: categoryID, ImageBase64: lastImage },
                        success: function () { }
                    });

        //    $.post('http://localhost:63668/api/ProductApi/CreateProduct', { Name: name, Price: price, Size: size, CategoryID: categoryID, ImageBase64: lastImage }, function (response)
        //    { console.log(response) }, 'json');
       });

        $("#inputPhoto").change(function () {
            $('#photoInitialDescription').remove();
            readURL(this);

        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#productPhotoArea').attr('src', e.target.result);
                    $('#base64textarea').val($('#productPhotoArea').attr('src'));
                    //$('#base64textarea').val(btoa(e.target.result));
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    });
</script>
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@



<div class="form-horizontal">
    <h4>Product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.DropDownList("Category", TempData["Categories"] as List<SelectListItem>)
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.CategoryID, "CategoryID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Size, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="productPhotoChooseArea">Profile Photo</span>
            <label class="btn btn-default">Browse<input type="file" id="inputPhoto" /></label>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="input-group" id="photoPreview">
            <span class="input-group-addon">Photo</span>
            <img id="productPhotoArea" width="30%" height="auto" />
            <div id="photoInitialDescription">
                NOT CHOSEN YET!
            </div>
        </div>
    </div>
    <br />
    <input type="hidden" id="base64textarea" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Create" class="btn btn-default" id="btnCreate"/>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back", "Index", "Shop")
</div>
