﻿@model ShopProject.MVC.FormDatas.ShopIndexFormData

@{
    Layout = null;
    var count = @Model.Categories.Count();
    int RandomCount = 1;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Shopping Site</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//tags -->
    <link href="~/ShopFrontEnd/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/ShopFrontEnd/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/ShopFrontEnd/css/font-awesome.css" rel="stylesheet">
    <link href="~/ShopFrontEnd/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- header -->
    <div class="header" id="home">
        <div class="container">
            <ul>
                @if (Session["User"] == null)
                {
                    <li> <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Sign In </a></li>
                    <li> <a href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign Up </a></li>
                }
                @if (Session["User"] != null)
                {

                    <li> <span class="glyphicon glyphicon-user"></span><a href="#"><i class="" aria-hidden="true"></i> @((Session["User"] as @ShopProject.Data.POCOs.User).Name) </a></li>

                    if ((Session["User"] as ShopProject.Data.POCOs.User).Role == ShopProject.Data.POCOs.Role.Admin)
                    {
                        <li><a href=@Url.Action("Index","Admin")>GO TO ADMIN PANEL</a></li>
                    }
                }
                <li><i class="fa fa-phone" aria-hidden="true"></i> Call : 01234567898</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:platform9-3/4@hotmail.com">platform9-3/4@hotmail.com</a></li>
                @if (Session["User"] != null)
                {
                    <li> <i class="fa fa-unlock-alt" aria-hidden="true"></i> @Ajax.ActionLink("LogOut", "LogOut", "User", new AjaxOptions { HttpMethod = "Post", OnSuccess = "LogOffSuccess", Confirm = "Are you sure you want to log off?" }) </li>
                }
            </ul>

        </div>
    </div>
    <!-- //header -->
    <!-- header-bot -->
    <div class="header-bot">
        <div class="header-bot_inner_wthreeinfo_header_mid">
            <div class="col-md-4 header-middle">
                <form action=@Url.Action("ProductList","Product") method="post">
                    <input type="search" name="filterString" placeholder="Search..." required="" id="searchArea">
                    <input type="submit" value="" onclick="clickSearch">
                    <div class="clearfix"></div>
                </form>
            </div>
            <!-- header-bot -->
            <div class="col-md-4 logo_agile">
                <h1><a href="@Url.Action("Index", "Shop")"><span>P</span>latform 9 3/4 <i class="fa fa-shopping-bag top_logo_agile_bag" aria-hidden="true"></i></a></h1>
            </div>
            <!-- header-bot -->
            <div class="col-md-4 agileits-social top_content">
                <ul class="social-nav model-3d-0 footer-social w3_agile_social"></ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header-bot -->
    <!-- banner -->
    <div class="ban-top">
        <div class="container">
            <div class="top_nav_left">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav menu__list">
                                <li class="active menu__item menu__item--current"><a class="menu__link" href="@Url.Action("Index", "Shop")">Home <span class="sr-only">(current)</span></a></li>
                                <li class=" menu__item"><a class="menu__link" href="about.html">About</a></li>
                                <li class="dropdown menu__item">
                                    <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="agile_inner_drop_nav_info">
                                            <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                                                <a href="@Url.Action("ProductList","Product")"><img src="~/ShopFrontEnd/images/top2.jpg" alt=" " /></a>
                                            </div>
                                            <div class="col-sm-3 multi-gd-img">
                                                <ul class="multi-column-dropdown">

                                                    @for (int i = 0; i < Model.Categories.Count() / 2; i++)
                                                    {
                                                        <li><a href=@Url.Action("ProductList", "Product",new { categoryName = Model.Categories.ElementAt(i).Name })>@Model.Categories.ElementAt(i).Name</a></li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="col-sm-3 multi-gd-img">
                                                <ul class="multi-column-dropdown">
                                                    @for (int i = Model.Categories.Count() / 2; i < Model.Categories.Count(); i++)
                                                    {
                                                        <li><a href=@Url.Action("ProductList", "Product",new { categoryName = Model.Categories.ElementAt(i).Name })>@Model.Categories.ElementAt(i).Name</a></li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="" menu__item"><a class="menu__link" href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="top_nav_right">
                <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                    <form action="@Url.Action("PurchaseShoppingCart","Product")" method="get" class="last">
                        <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                    </form>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //banner-top -->
    <!-- Modal1 -->
    @if (Session["User"] == null)
    {
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body modal-body-sub_agile">
                        <div class="col-md-8 modal_body_left modal_body_left1">
                            <h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
                            @*<form action="http://localhost:63668/api/UserApi/LoginCheck" method="get">*@
                            <div class="styled-input agile-styled-input-top">
                                <input type="email" name="Email" required="" id="EmailSignIn">
                                <label>Email</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="password" name="Password" required="" id="PwdSignIn">
                                <label>Password</label><button class="btn btn-default glyphicon glyphicon-eye-open" type="button" id="btnPwd"></button>
                                <span></span>
                            </div>
                            <input type="submit" value="Sign In" id="btnSignIn">
                            @*</form>*@
                            <div class="clearfix"></div>
                            <p><a href="#" data-toggle="modal" data-target="#myModal2"> Don't have an account?</a></p>

                        </div>
                        <div class="col-md-4 modal_body_right modal_body_right1">
                            <img src="~/ShopFrontEnd/images/dante.jpg" alt=" " />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- //Modal content-->
            </div>
        </div>
    <!-- //Modal1 -->
    <!-- Modal2 -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body modal-body-sub_agile">
                        <div class="col-md-8 modal_body_left modal_body_left1">
                            <h3 class="agileinfo_sign">Sign Up <span>Now</span></h3>

                            <div class="styled-input agile-styled-input-top">
                                <input type="text" name="Name" required="" id="nameSignUp">
                                <label>Name</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="email" name="Email" required="" id="emailSignUp">
                                <label>Email</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="password" name="password" required="" id="PwdSignUp">
                                <label>Password</label>
                                <span></span>
                            </div>
                            <input type="submit" value="Sign Up" id="btnSignUp">

                            <div class="clearfix"></div>
                            <p><a href="#">By clicking register, I agree to your terms</a></p>

                        </div>
                        <div class="col-md-4 modal_body_right modal_body_right1">
                            <img src="~/ShopFrontEnd/images/dante.jpg" alt=" " />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- //Modal content-->
            </div>
        </div>
    }
    @if (Session["User"] != null)
    {

    }
    <!-- //Modal2 -->
    <!-- banner -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>The Biggest <span>Sale</span></h3>
                        <p>Special for today</p>
                        <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
                    </div>
                </div>
            </div>
            <div class="item item2">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Summer <span>Collection</span></h3>
                        <p>New Arrivals On Sale</p>
                        <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
                    </div>
                </div>
            </div>
            <div class="item item3">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>The Biggest <span>Sale</span></h3>
                        <p>Special for today</p>
                        <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
                    </div>
                </div>
            </div>
            <div class="item item4">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Summer <span>Collection</span></h3>
                        <p>New Arrivals On Sale</p>
                        <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
                    </div>
                </div>
            </div>
            <div class="item item5">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>The Biggest <span>Sale</span></h3>
                        <p>Special for today</p>
                        <a class="hvr-outline-out button2" href="mens.html">Shop Now </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!-- The Modal -->
    </div>
    <!-- //banner -->
    <div class="banner_bottom_agile_info">
        <div class="container">
            <div class="banner_bottom_agile_info_inner_w3ls">
                <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                    <figure class="effect-roxy">
                        <img src="~/ShopFrontEnd/images/bottom1.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>F</span>all Ahead</h3>
                            <p>New Arrivals</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                    <figure class="effect-roxy">
                        <img src="~/ShopFrontEnd/images/bottom2.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>F</span>all Ahead</h3>
                            <p>New Arrivals</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- schedule-bottom -->
    <div class="schedule-bottom">
        <div class="col-md-6 agileinfo_schedule_bottom_left">
            <img src="~/ShopFrontEnd/images/mid.jpg" alt=" " class="img-responsive" />
        </div>
        <div class="col-md-6 agileits_schedule_bottom_right">
            <div class="w3ls_schedule_bottom_right_grid">
                <h3>Save up to <span>50%</span> in this week</h3>
                <p>
                    Suspendisse varius turpis efficitur erat laoreet dapibus.
                    Mauris sollicitudin scelerisque commodo.Nunc dapibus mauris sed metus finibus posuere.
                </p>
                <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <h4>Customers</h4>
                    <h5 class="counter">100</h5>
                </div>
                <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    <h4>Products</h4>
                    <h5 class="counter">1029</h5>
                </div>
                <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                    <i class="fa fa-shield" aria-hidden="true"></i>
                    <h4>Awards</h4>
                    <h5 class="counter">45</h5>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //schedule-bottom -->
    <!-- banner-bootom-w3-agileits -->
    <div class="banner-bootom-w3-agileits">
        <div class="container">
            <h3 class="wthree_text_info">What's <span>Trending</span></h3>

            <div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
                <a href="womens.html">
                    <div class="bb-left-agileits-w3layouts-inner grid">
                        <figure class="effect-roxy">
                            <img src="~/ShopFrontEnd/images/bb1.jpg" alt=" " class="img-responsive" />
                            <figcaption>
                                <h3><span>S</span>ale </h3>
                                <p>Upto 55%</p>
                            </figcaption>
                        </figure>
                    </div>
                </a>
            </div>
            <div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
                <a href="mens.html">
                    <div class="bb-middle-agileits-w3layouts grid">
                        <figure class="effect-roxy">
                            <img src="~/ShopFrontEnd/images/bottom3.jpg" alt=" " class="img-responsive" />
                            <figcaption>
                                <h3><span>S</span>ale </h3>
                                <p>Upto 55%</p>
                            </figcaption>
                        </figure>
                    </div>
                </a>
                <a href="mens.html">
                    <div class="bb-middle-agileits-w3layouts forth grid">
                        <figure class="effect-roxy">
                            <img src="~/ShopFrontEnd/images/bottom4.jpg" alt=" " class="img-responsive">
                            <figcaption>
                                <h3><span>S</span>ale </h3>
                                <p>Upto 65%</p>
                            </figcaption>
                        </figure>
                    </div>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--/grids-->
    <div class="agile_last_double_sectionw3ls">
        <div class="col-md-6 multi-gd-img multi-gd-text ">
            <a href="womens.html"><img src="~/ShopFrontEnd/images/bot_1.jpg" alt=" "><h4>Flat <span>50%</span> offer</h4></a>

        </div>
        <div class="col-md-6 multi-gd-img multi-gd-text ">
            <a href="womens.html"><img src="~/ShopFrontEnd/images/bot_2.jpg" alt=" "><h4>Flat <span>50%</span> offer</h4></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--/grids-->
    <!-- /new_arrivals -->
    <div class="new_arrivals_agile_w3ls_info">
        <div class="container">
            <h3 class="wthree_text_info">New <span>Arrivals</span></h3>
            <div id="horizontalTab">

                @*@foreach (var category in Model.RandomCategories)
                    {
                        <div class="resp-tabs-container">

                            <div class="tab{@RandomCount}">*@
                @foreach (var product in Model.RandomProducts)
                {
                    if (RandomCount % 5 == 0)
                    {
                        <div class="clearfix"></div>
                    }
                    <div class="col-md-3 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="@Model.ProductFormDatas.SingleOrDefault(w => w.ID == product.ID).Base64Image" alt="" class="pro-image-front">
                                <img src="@Model.ProductFormDatas.SingleOrDefault(w => w.ID == product.ID).Base64Image" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href=@Url.Action("ProductDetails", "Product", new { ID = product.ID }) class="link-product-add-cart">View Product</a>
                                    </div>
                                </div>
                                <span class="product-new-top">New</span>
                            </div>
                            <div class="item-info-product ">
                                <h4><a href=@Url.Action("ProductDetails", "Product", new { ID = product.ID })>@product.Name</a></h4>
                                <p>-@product.Category.Name-</p>
                                <div class="info-product-price">
                                    <span class="item_price">$@product.Price</span>
                                </div>
                                @*<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">*@
                                @Ajax.ActionLink("Add To Cart", "AddProductToCart", "Product", new { ID = product.ID }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onSuccessAddedToCart('" + product.Name + "');" }, new { @class = "btn btn-primary" })
                                @*<a href=@Url.Action("AddProductToCart","Product",new { ID=product.ID}) type="button" name="submit" value="Add to cart" class="button" id="btnAddToCart">Add To Cart</a>
                                    </div>*@

                            </div>
                        </div>
                    </div>
                    RandomCount++;
                }
                <div class="clearfix"></div>



            </div>

            <div class="coupons">
                <div class="coupons-grids text-center">
                    <div class="w3layouts_mail_grid">
                        <div class="col-md-3 w3layouts_mail_grid_left">
                            <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                                <i class="fa fa-truck" aria-hidden="true"></i>
                            </div>
                            <div class="w3layouts_mail_grid_left2">
                                <h3>FREE SHIPPING</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-md-3 w3layouts_mail_grid_left">
                            <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                                <i class="fa fa-headphones" aria-hidden="true"></i>
                            </div>
                            <div class="w3layouts_mail_grid_left2">
                                <h3>24/7 SUPPORT</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-md-3 w3layouts_mail_grid_left">
                            <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                            </div>
                            <div class="w3layouts_mail_grid_left2">
                                <h3>MONEY BACK GUARANTEE</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="col-md-3 w3layouts_mail_grid_left">
                            <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                            </div>
                            <div class="w3layouts_mail_grid_left2">
                                <h3>FREE GIFT COUPONS</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                </div>
            </div>
            <!--grids-->
            <!-- footer -->
            <div class="footer">
                <div class="footer_agile_inner_info_w3l">
                    <div class="col-md-3 footer-left">
                        <h2><a href="@Url.Action("Index", "Shop")"><span>P</span>latform 9 3/4 </a></h2>
                        <p>
                            Lorem ipsum quia dolor
                            sit amet, consectetur, adipisci velit, sed quia non
                            numquam eius modi tempora.
                        </p>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9 footer-right">
                        <div class="sign-grds">
                            <div class="col-md-4 sign-gd">
                                <h4>Our <span>Information</span> </h4>
                                <ul>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>

                            <div class="col-md-5 sign-gd-two">
                                <h4>Store <span>Information</span></h4>
                                <div class="w3-address">
                                    <div class="w3-address-grid">
                                        <div class="w3-address-left">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </div>
                                        <div class="w3-address-right">
                                            <h6>Phone Number</h6>
                                            <p>+1 234 567 8901</p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="w3-address-grid">
                                        <div class="w3-address-left">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                        <div class="w3-address-right">
                                            <h6>Email Address</h6>
                                            <p>Email :<a href="mailto:platform9-3/4@hotmail.com"> platform9-3/4@hotmail.com</a></p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="w3-address-grid">
                                        <div class="w3-address-left">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </div>
                                        <div class="w3-address-right">
                                            <h6>Location</h6>
                                            <p>
                                                Altınbaş University, Bağcılar, TURKEY.

                                            </p>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 sign-gd flickr-post">
                                <h4>Flickr <span>Posts</span></h4>
                                <ul>
                                    <li><a href="single.html"><img src="~/ShopFrontEnd/images/t1.jpg" alt=" " class="img-responsive" /></a></li>
                                    <li><a href="single.html"><img src="~/ShopFrontEnd/images/t2.jpg" alt=" " class="img-responsive" /></a></li>
                                    <li><a href="single.html"><img src="~/ShopFrontEnd/images/t3.jpg" alt=" " class="img-responsive" /></a></li>
                                    <li><a href="single.html"><img src="~/ShopFrontEnd/images/t4.jpg" alt=" " class="img-responsive" /></a></li>
                                    <li><a href="single.html"><img src="~/ShopFrontEnd/images/t1.jpg" alt=" " class="img-responsive" /></a></li>
                                    <li><a href="single.html"><img src="~/ShopFrontEnd/images/t2.jpg" alt=" " class="img-responsive" /></a></li>
                                    <li><a href="single.html"><img src="~/ShopFrontEnd/images/t3.jpg" alt=" " class="img-responsive" /></a></li>
                                    <li><a href="single.html"><img src="~/ShopFrontEnd/images/t2.jpg" alt=" " class="img-responsive" /></a></li>
                                    <li><a href="single.html"><img src="~/ShopFrontEnd/images/t4.jpg" alt=" " class="img-responsive" /></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <p class="copy-right">&copy 2017 Platform 9 3/4. All rights reserved</p>
                </div>
            </div>
            <!-- //footer -->
            <!-- login -->
            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content modal-info">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body modal-spa">
                            <div class="login-grids">
                                <div class="login">
                                    <div class="login-bottom">
                                        <h3>Sign up for free</h3>
                                        <form>
                                            <div class="sign-up">
                                                <h4>Email :</h4>
                                                <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                                            </div>
                                            <div class="sign-up">
                                                <h4>Password :</h4>
                                                <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                            </div>
                                            <div class="sign-up">
                                                <h4>Re-type Password :</h4>
                                                <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                            </div>
                                            <div class="sign-up">
                                                <input type="submit" value="REGISTER NOW">
                                            </div>

                                        </form>
                                    </div>
                                    <div class="login-right">
                                        <h3>Sign in with your account</h3>
                                        <form>
                                            <div class="sign-in">
                                                <h4>Email :</h4>
                                                <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                                            </div>
                                            <div class="sign-in">
                                                <h4>Password :</h4>
                                                <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                                <a href="#">Forgot password?</a>
                                            </div>
                                            <div class="single-bottom">
                                                <input type="checkbox" id="brand" value="">
                                                <label for="brand"><span></span>Remember Me.</label>
                                            </div>
                                            <div class="sign-in">
                                                <input type="submit" value="SIGNIN">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //login -->
            <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

            <!-- js -->
            <script type="text/javascript" src="~/ShopFrontEnd/js/jquery-2.1.4.min.js"></script>
            <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
            <!-- //js -->
            <script src="~/ShopFrontEnd/js/modernizr.custom.js"></script>
            <!-- Custom-JavaScript-File-Links -->
            <!-- script for responsive tabs -->
            <script src="~/ShopFrontEnd/js/easy-responsive-tabs.js"></script>
            <script>
                $(document).ready(function () {
                    $('#horizontalTab').easyResponsiveTabs({
                        type: 'default', //Types: default, vertical, accordion
                        width: 'auto', //auto or any width like 600px
                        fit: true,   // 100% fit in a container
                        closed: 'accordion', // Start closed if in accordion view
                        activate: function (event) { // Callback function if tab is switched
                            var $tab = $(this);
                            var $info = $('#tabInfo');
                            var $name = $('span', $info);
                            $name.text($tab.text());
                            $info.show();
                        }
                    });
                    $('#verticalTab').easyResponsiveTabs({
                        type: 'vertical',
                        width: 'auto',
                        fit: true
                    });
                });
            </script>
            <!-- //script for responsive tabs -->
            <!-- stats -->
            <script src="~/ShopFrontEnd/js/jquery.waypoints.min.js"></script>
            <script src="~/ShopFrontEnd/js/jquery.countup.js"></script>
            <script>
                $('.counter').countUp();
            </script>
            <!-- //stats -->
            <!-- start-smoth-scrolling -->

            <script type="text/javascript" src="~/ShopFrontEnd/js/move-top.js"></script>
            <script type="text/javascript" src="~/ShopFrontEnd/js/jquery.easing.min.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function ($) {
                    $(".scroll").click(function (event) {
                        event.preventDefault();
                        $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                    });
                });
            </script>
            <!-- here stars scrolling icon -->
            <script type="text/javascript">
                $(document).ready(function () {

                    $('#btnSignUp').click(function () {
                        var name = $('#nameSignUp').val();
                        var password = $('#PwdSignUp').val();
                        var email = $('#emailSignUp').val();

                        $.ajax({
                            url: "../User/CreateAccount",
                            method: "POST",
                            type: "json",
                            data: { Name: name, Password: password, Email: email },
                            success: function () {
                                window.location.reload();
                            }
                        });


                    });

                    $('#btnSignIn').click(function () {
                        var email = $('#EmailSignIn').val();
                        var password = $('#PwdSignIn').val();
                        $.post("../User/Login?email=" + email + "&password=" + password, function (result) {
                            if (result == "Your e-mail or password is incorrect!") {
                                alert(result);
                            }
                            else {
                                window.location.reload();
                            }
                        }).fail(function (err) {
                            alert(err.responseText);
                        });
                    });

                    $('#btnPwd').on('click', function () {
                        $(this).toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open'); // toggle our classes for the eye icon
                        togglePassword(); // activate the hideShowPassword plugin
                        $('#PwdSignIn').focus();
                    });

                    function togglePassword() {
                        if ($('#PwdSignIn').attr('type') == "text") {
                            $('#PwdSignIn').attr('type', 'password');
                        }
                        else {
                            $('#PwdSignIn').attr('type', 'text');
                        }
                    }

                    /*
                        var defaults = {
                        containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear'
                        };
                    */

                    $().UItoTop({ easingType: 'easeOutQuart' });

                });

                function onSuccessAddedToCart(name) {
                    alert(name + ' has been added successfully!');
                }

                function LogOffSuccess(result) {
                    window.location.reload();
                };
            </script>
            <!-- //here ends scrolling icon -->
            <!-- for bootstrap working -->
            <script type="text/javascript" src="~/ShopFrontEnd/js/bootstrap.js"></script>
</body>

</html>
