﻿@model IEnumerable<ShopProject.Data.POCOs.ProductQuantity>


<ul class="list-group">
    <li class="list-group-item active">PURCHASE ID: @TempData["PurchaseString"]</li>

    @foreach (var item in Model)
    {
    <li class="list-group-item">Name: @item.Product.Name</li>
    <li class="list-group-item">Size: @item.Product.Size</li>
    <li class="list-group-item">Quantity: @item.Quantity</li>
    <li class="list-group-item">Price: @item.GetTotalPrice</li>
    <li class="list-group-item disabled" >--------------------------------------------------------------</li>
    }
</ul>