﻿@model IEnumerable<ShopProject.MVC.FormDatas.ViewAllUsersFormData>
@using GridMvc.Html
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewAllUsers</title>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/gridmvc.min.js"></script>

</head>
<body>
    <div>

        @Html.Grid(Model).Columns(Columns =>
   {
       Columns.Add(c => c.Usermail).Titled("Mail").Filterable(true);
       Columns.Add(c => c.Username).Titled("Name").Filterable(true);
       Columns.Add(c => c.PurchaseCount).Titled("Purchase Count").Filterable(true);
       Columns.Add(c => c.LastShopping).Titled("Last Shopping").Filterable(true);
       
   }).WithPaging(15).Sortable(true)

    </div>
</body>

</html>
