﻿@model IEnumerable<ShopProject.Data.POCOs.Purchase>
@using GridMvc.Html
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewAllPurchases</title>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/gridmvc.min.js"></script>
</head>
<body>
    <div>
        @Html.Grid(Model).Columns(Columns =>
   {
       Columns.Add(c => c.PurchaseString).Titled("Purchase ID").Filterable(true);
       Columns.Add(c => c.User.Email).Titled("User Mail").Filterable(true);
       Columns.Add(c => c.User.Name).Titled("User Name").Filterable(true);
       Columns.Add(c => c.Address.Description).Titled("Address").Filterable(true);
       Columns.Add(c => c.TotalPrice).Titled("Total Price").Filterable(true);
       Columns.Add(c => c.PurchaseDate).Titled("Purchase Date").Filterable(true);
       Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o=>Ajax.ActionLink("View Products", "ViewPurchaseProducts", new { ID = o.ID }, new AjaxOptions { InsertionMode=InsertionMode.Replace,UpdateTargetId="productsArea"})).Titled("Products").Filterable(true);
       
   }).WithPaging(15).Sortable(true)


    </div>

    <br />
    <hr />
    <div id="productsArea"></div>
</body>
</html>
