﻿@model IEnumerable<ShopProject.Data.POCOs.Product>
@using GridMvc.Html

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>

<h1>PRODUCTS</h1>
<br />
<hr />

@Html.Grid(Model).Columns(Columns =>
{
    Columns.Add(c => c.Name).Titled("Name").Filterable(true);
    Columns.Add(c => c.Price).Titled("Price").Filterable(true);
    Columns.Add(c => c.SoldCount).Titled("Sold Count").Filterable(true);
}).WithPaging(15).Sortable(true)
