﻿@model IEnumerable<ShopProject.Data.POCOs.Category>
@using GridMvc.Html
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewAllCategories</title>
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    
    <script src="~/Scripts/gridmvc.min.js"></script>
</head>
<body>
    <div>
        @Html.Grid(Model).Columns(Columns =>
   {
       Columns.Add(c => c.Name).Titled("Category Name").Filterable(true);
       Columns.Add(c => c.Products.Count).Titled("Products").Filterable(true);
       Columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Ajax.ActionLink("View Products", "ViewCategoryProducts", new { ID = o.ID }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "productsArea" })).Titled("Products").Filterable(true);

   }).WithPaging(15).Sortable(true)
    </div>
    <br />
    <br />
    <hr />
    <div id="productsArea"></div>
</body>
</html>
